body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: bisque;
  }
  
  #app {
    max-width: 400px;
    margin: 0 auto;
  }
  
  #shopping-list {
    list-style-type: none;
    padding: 0;
  }
  
  #shopping-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  #shopping-list li button {
    background-color: #ff5555;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #shopping-list li button:hover {
    background-color: #ff3333;
  }